<div class="col-4 col-12-medium">
    <div id="sidebar">

         <section>
            <header class="major">
                <h2>Добро пожаловать</h2>
            </header>
            <p>
                «Наша команда — это не просто мастера, а люди, которые искренне заботятся о вашем автомобиле» Каждая машина для нас — как своя. Мы вкладываем опыт, душу и внимание в каждую деталь.
                «Высококвалифицированные специалисты, которым вы можете доверить самое ценное — свою безопасность» Мы не просто ремонтируем — мы создаём уверенность на дороге.
                «Ваш автомобиль заслуживает лучшего — и мы готовы это обеспечить» От первого звонка до последнего винта — с заботой, точностью и гарантией.
                «Мы не просто чиним машины — мы решаем проблемы и возвращаем спокойствие» Пока вы отдыхаете, мы работаем над тем, чтобы ваш авто был в идеальном состоянии.
                «Команда, которая говорит с вами на одном языке — языке честности, качества и уважения» Никаких скрытых работ, никаких лишних трат. Только то, что действительно нужно вашему авто.
            </p>
            <footer>
                <a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">Перейти к услугам</a>
            </footer>
        </section>

     

    </div>
</div>