<div class="col-4 col-12-medium">
    <div id="sidebar">

         <section>
            <header class="major">
                <h2>Добро пожаловать</h2>
            </header>
            <p>
                «Наша команда — это не просто мастера, а люди, которые искренне заботятся о вашем автомобиле» Каждая машина для нас — как своя. Мы вкладываем опыт, душу и внимание в каждую деталь.
                «Высококвалифицированные специалисты, которым вы можете доверить самое ценное — свою безопасность» Мы не просто ремонтируем — мы создаём уверенность на дороге.
            </p>
            <footer>
                <a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">Перейти к услугам</a>
            </footer>
        </section>

     

    </div>
</div>