@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">

		<article>
			<header class="major">
				<h2>Надёжный автосервис "MobilCraft" рядом — заботимся о вашем авто как о своём</h2>
				<p>Все виды технического обслуживания, ремонта и модернизации — быстро, качественно, с гарантией.</p>
			</header>

			<span class="image featured"><img src="~/images/XXXL.jfif" alt="welcome" /></span>

			
		</article>
	</div>
</div>