@model ServiceDTO
@{
	string? strTitle = Model.Title;
	ViewBag.Title = strTitle;
}
@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">


		</div>
</div>
